In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("airline/airline_cancel_data_2018.csv")

In [3]:
df.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,2018-01-01,UA,2429,EWR,DEN,1517,1512.0,-5.0,15.0,1527.0,...,268.0,250.0,225.0,1605.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-01,UA,2427,LAS,SFO,1115,1107.0,-8.0,11.0,1118.0,...,99.0,83.0,65.0,414.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-01,UA,2426,SNA,DEN,1335,1330.0,-5.0,15.0,1345.0,...,134.0,126.0,106.0,846.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-01-01,UA,2425,RSW,ORD,1546,1552.0,6.0,19.0,1611.0,...,190.0,182.0,157.0,1120.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-01-01,UA,2424,ORD,ALB,630,650.0,20.0,13.0,703.0,...,112.0,106.0,83.0,723.0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(7213446, 28)

In [5]:
cols = [
    'FL_DATE',
    'OP_CARRIER',
    'ORIGIN',
    'DEST',
    'CRS_ELAPSED_TIME',
    'ACTUAL_ELAPSED_TIME',
    'DISTANCE',
]

In [6]:
selected_df = df[cols]
selected_df.head()

,FL_DATE,OP_CARRIER,ORIGIN,DEST,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE
0,2018-01-01,UA,EWR,DEN,268.0,250.0,1605.0
1,2018-01-01,UA,LAS,SFO,99.0,83.0,414.0
2,2018-01-01,UA,SNA,DEN,134.0,126.0,846.0
3,2018-01-01,UA,RSW,ORD,190.0,182.0,1120.0
4,2018-01-01,UA,ORD,ALB,112.0,106.0,723.0

In [7]:
selected_df.isnull().sum()

FL_DATE                     0
OP_CARRIER                  0
ORIGIN                      0
DEST                        0
CRS_ELAPSED_TIME           10
ACTUAL_ELAPSED_TIME    134442
DISTANCE                    0
dtype: int64

In [8]:
selected_df.dropna(inplace=True)
selected_df.isnull().sum()

/Users/ianchia/opt/anaconda3/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

FL_DATE                0
OP_CARRIER             0
ORIGIN                 0
DEST                   0
CRS_ELAPSED_TIME       0
ACTUAL_ELAPSED_TIME    0
DISTANCE               0
dtype: int64

In [ ]:
cols_map = {
    'FL_DATE': 'Date',
    'ORIGIN': 'Origin',
    'DEST': 'Destination',
    'CRS_ELAPSED_TIME': 'Planned Duration',
    'ACTUAL_ELAPSED_TIME': 'Actual Duration',
    'DISTANCE': 'Distance',
    'OP_CARRIER': 'Carrier'
}

In [9]:
selected_df['Carrier'].value_counts()

WN    1331609
DL     943837
AA     899527
OO     760796
UA     614915
YX     305251
B6     297758
MQ     284497
OH     265784
AS     242979
9E     239002
YV     209094
EV     196583
NK     174129
F9     117523
G4      95192
HA      83375
VX      17153
Name: OP_CARRIER, dtype: int64

In [10]:
airline_map = {
    'UA':'United Airlines',
    'AS':'Alaska Airlines',
    '9E':'Endeavor Air',
    'B6':'JetBlue Airways',
    'EV':'ExpressJet',
    'F9':'Frontier Airlines',
    'G4':'Allegiant Air',
    'HA':'Hawaiian Airlines',
    'MQ':'Envoy Air',
    'NK':'Spirit Airlines',
    'OH':'PSA Airlines',
    'OO':'SkyWest Airlines',
    'VX':'Virgin America',
    'WN':'Southwest Airlines',
    'YV':'Mesa Airline',
    'YX':'Republic Airways',
    'AA':'American Airlines',
    'DL':'Delta Airlines'
}

selected_df['Carrier'].replace(airline_map, inplace=True)
selected_df['Carrier'].value_counts()

/Users/ianchia/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

Southwest Airlines    1331609
Delta Airlines         943837
American Airlines      899527
SkyWest Airlines       760796
United Airlines        614915
Republic Airways       305251
JetBlue Airways        297758
Envoy Air              284497
PSA Airlines           265784
Alaska Airlines        242979
Endeavor Air           239002
Mesa Airline           209094
ExpressJet             196583
Spirit Airlines        174129
Frontier Airlines      117523
Allegiant Air           95192
Hawaiian Airlines       83375
Virgin America          17153
Name: OP_CARRIER, dtype: int64

In [11]:
encoded_airlines_df = pd.get_dummies(selected_df['Carrier'])
encoded_airlines_df.head()

,Alaska Airlines,Allegiant Air,American Airlines,Delta Airlines,Endeavor Air,Envoy Air,ExpressJet,Frontier Airlines,Hawaiian Airlines,JetBlue Airways,Mesa Airline,PSA Airlines,Republic Airways,SkyWest Airlines,Southwest Airlines,Spirit Airlines,United Airlines,Virgin America
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [12]:
selected_df.drop('Carrier', axis=1, inplace=True)
cleaned_df = pd.concat([selected_df, encoded_airlines_df], axis=1)
cleaned_df.head()

/Users/ianchia/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4908: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,FL_DATE,ORIGIN,DEST,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,Alaska Airlines,Allegiant Air,American Airlines,Delta Airlines,...,Hawaiian Airlines,JetBlue Airways,Mesa Airline,PSA Airlines,Republic Airways,SkyWest Airlines,Southwest Airlines,Spirit Airlines,United Airlines,Virgin America
0,2018-01-01,EWR,DEN,268.0,250.0,1605.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,2018-01-01,LAS,SFO,99.0,83.0,414.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,2018-01-01,SNA,DEN,134.0,126.0,846.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,2018-01-01,RSW,ORD,190.0,182.0,1120.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,2018-01-01,ORD,ALB,112.0,106.0,723.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [14]:
cleaned_df.to_csv('cleaned_airline_2018.csv', index=False)