In [1]:
import pandas as pd

In [2]:
airline_df = pd.read_csv("datasets/airline/airline_cancel_data_2018.csv")

In [3]:
airline_df.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,2018-01-01,UA,2429,EWR,DEN,1517,1512.0,-5.0,15.0,1527.0,...,268.0,250.0,225.0,1605.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-01,UA,2427,LAS,SFO,1115,1107.0,-8.0,11.0,1118.0,...,99.0,83.0,65.0,414.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-01,UA,2426,SNA,DEN,1335,1330.0,-5.0,15.0,1345.0,...,134.0,126.0,106.0,846.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-01-01,UA,2425,RSW,ORD,1546,1552.0,6.0,19.0,1611.0,...,190.0,182.0,157.0,1120.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-01-01,UA,2424,ORD,ALB,630,650.0,20.0,13.0,703.0,...,112.0,106.0,83.0,723.0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
airline_df.shape

(7213446, 28)

In [5]:
airline_df['Flight Delay'] = airline_df['ACTUAL_ELAPSED_TIME'] - airline_df['CRS_ELAPSED_TIME']

In [6]:
AIRLINE_COLS = [
    'FL_DATE',
    'OP_CARRIER',
    'OP_CARRIER_FL_NUM',
    'CRS_DEP_TIME',
    'ORIGIN',
    'DEST',
    'DISTANCE',
    'DEP_DELAY',
    'Flight Delay'
]

selected_airline_df = airline_df[AIRLINE_COLS]

selected_airline_df.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,CRS_DEP_TIME,ORIGIN,DEST,DISTANCE,DEP_DELAY,Flight Delay
0,2018-01-01,UA,2429,1517,EWR,DEN,1605.0,-5.0,-18.0
1,2018-01-01,UA,2427,1115,LAS,SFO,414.0,-8.0,-16.0
2,2018-01-01,UA,2426,1335,SNA,DEN,846.0,-5.0,-8.0
3,2018-01-01,UA,2425,1546,RSW,ORD,1120.0,6.0,-8.0
4,2018-01-01,UA,2424,630,ORD,ALB,723.0,20.0,-6.0

In [7]:
AIRLINE_COLS_RENAME = {
  'FL_DATE': 'Date',
  'ORIGIN': 'Origin',
  'DEST': 'Destination',
  'OP_CARRIER': 'Carrier',
  'OP_CARRIER_FL_NUM': 'Flight Num',
  'CRS_DEP_TIME': 'Departure Time',
  'DISTANCE': 'Distance',
  'DEP_DELAY': 'Departure Delay'
}

selected_airline_df.rename(columns=AIRLINE_COLS_RENAME, inplace=True)

selected_airline_df.head()

/Users/ianchia/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:5042: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Date,Carrier,Flight Num,Departure Time,Origin,Destination,Distance,Departure Delay,Flight Delay
0,2018-01-01,UA,2429,1517,EWR,DEN,1605.0,-5.0,-18.0
1,2018-01-01,UA,2427,1115,LAS,SFO,414.0,-8.0,-16.0
2,2018-01-01,UA,2426,1335,SNA,DEN,846.0,-5.0,-8.0
3,2018-01-01,UA,2425,1546,RSW,ORD,1120.0,6.0,-8.0
4,2018-01-01,UA,2424,630,ORD,ALB,723.0,20.0,-6.0

In [8]:
selected_airline_df['Carrier'].value_counts()

WN    1352552
DL     949283
AA     916818
OO     774137
UA     621565
YX     316090
B6     305010
MQ     296001
OH     278457
9E     245917
AS     245761
YV     215138
EV     202890
NK     176178
F9     120035
G4      96221
HA      83723
VX      17670
Name: Carrier, dtype: int64

In [9]:
encoded_airlines_df = pd.get_dummies(selected_airline_df['Carrier'])
encoded_airlines_df.head()

   9E  AA  AS  B6  DL  EV  F9  G4  HA  MQ  NK  OH  OO  UA  VX  WN  YV  YX
0   0   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0
1   0   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0
2   0   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0
3   0   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0
4   0   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0

In [10]:
AIRLINES_RENAME = {
  'UA':'United Airlines',
  'AS':'Alaska Airlines',
  '9E':'Endeavor Air',
  'B6':'JetBlue Airways',
  'EV':'ExpressJet',
  'F9':'Frontier Airlines',
  'G4':'Allegiant Air',
  'HA':'Hawaiian Airlines',
  'MQ':'Envoy Air',
  'NK':'Spirit Airlines',
  'OH':'PSA Airlines',
  'OO':'SkyWest Airlines',
  'VX':'Virgin America',
  'WN':'Southwest Airlines',
  'YV':'Mesa Airline',
  'YX':'Republic Airways',
  'AA':'American Airlines',
  'DL':'Delta Airlines'
}

selected_airline_df['Carrier'].replace(AIRLINES_RENAME, inplace=True)
selected_airline_df.drop('Carrier', axis=1, inplace=True)

selected_airline_df.head()

/Users/ianchia/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/Users/ianchia/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4908: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Date,Flight Num,Departure Time,Origin,Destination,Distance,Departure Delay,Flight Delay
0,2018-01-01,2429,1517,EWR,DEN,1605.0,-5.0,-18.0
1,2018-01-01,2427,1115,LAS,SFO,414.0,-8.0,-16.0
2,2018-01-01,2426,1335,SNA,DEN,846.0,-5.0,-8.0
3,2018-01-01,2425,1546,RSW,ORD,1120.0,6.0,-8.0
4,2018-01-01,2424,630,ORD,ALB,723.0,20.0,-6.0

In [11]:
selected_airline_df.isnull().sum()

Date                    0
Flight Num              0
Departure Time          0
Origin                  0
Destination             0
Distance                0
Departure Delay    117234
Flight Delay       134442
dtype: int64

In [12]:
selected_airline_df.dropna(inplace=True)

/Users/ianchia/opt/anaconda3/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [13]:
cleaned_airline_df = pd.concat([selected_airline_df, encoded_airlines_df], axis=1)
cleaned_airline_df.head()

,Date,Flight Num,Departure Time,Origin,Destination,Distance,Departure Delay,Flight Delay,9E,AA,...,HA,MQ,NK,OH,OO,UA,VX,WN,YV,YX
0,2018-01-01,2429.0,1517.0,EWR,DEN,1605.0,-5.0,-18.0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,2018-01-01,2427.0,1115.0,LAS,SFO,414.0,-8.0,-16.0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,2018-01-01,2426.0,1335.0,SNA,DEN,846.0,-5.0,-8.0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,2018-01-01,2425.0,1546.0,RSW,ORD,1120.0,6.0,-8.0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,2018-01-01,2424.0,630.0,ORD,ALB,723.0,20.0,-6.0,0,0,...,0,0,0,0,0,1,0,0,0,0